# File Type Exclusions
*.prf
*.ese
*.sct
*.rwy
*.pdf

# Folder Exclusions
HKNA/*
Alias/*
NavData/*
ICAO/*
Sounds/*

# File Exclusions
*aeronav_copyright.txt
Settings/VoiceChannels.txt
euroscope_sector_providers.txt.download
